@charset "utf-8";
body  {
	margin: 0px;
	padding-bottom: 30px;
	background-color: #99ccff;
	font-family: Trebuchet MS;
}

form {
  padding-left: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: #1E90FF
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li a:active {
  background-color: #483D8B;
}

section ul {
	margin-top: 60px;
	list-style: none;
	padding-left: 0px;
}

section ul li {
	padding: 10px 10px;
  word-wrap: break-word;
	border-bottom: 3px solid #63D1F4;
}

section ul li:hover {
	border-bottom: 3px solid #00688B;
}
